<!doctype html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/sun.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
         {{>header}}

    <img class="portrait" src="/img/kobe.jpg">

    </div>

   
    <p> Created by {{name}}</p>
</body>

{{>footer}}

</html>
